<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Statuspagers</title>
    <link rel="stylesheet" href="./tailwind.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="dark:bg-black dark:text-gray-200">
    <div class="container sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg mx-auto">
        {%- block content -%}{%- endblock -%}
    </div>
</body>

</html>
