<!DOCTYPE html>
<html>

<head>
    <title>Statuspagers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind.min.css"
        integrity="sha512-yXagpXH0ulYCN8G/Wl7GK+XIpdnkh5fGHM5rOzG8Kb9Is5Ua8nZWRx5/RaKypcbSHc56mQe0GBG0HQIGTmd8bw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.17/tailwind-dark.min.css"
        integrity="sha512-Sx1NTVcv0oFnBPbgHhJdryxs5QULMAdUnPH3TIuOLzDf75rOfv3J55L6eHeA4/gQf5QT8wwvZFdZBlN7D0x71g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="dark flex flex-col">
    <div class="container max-w-screen-lg mx-auto rounded">
        {%- block content -%}{%- endblock -%}
    </div>
</body>

</html>
