{%- extends "base.html" -%}

{%- block content -%}
    <div class="mt-10 border-2 rounded divide-y-2 border-gray-200 divide-gray-200">
        {%- for _, component in components -%}
            {%- if component.status == "Operational" -%}
                {%- set css_border_color = "border-green text-green" -%}
                {%- set status_string = "Operational" -%}
            {%- elif component.status == "PartialOutage" -%}
                {%- set css_border_color = "border-yellow text-yellow" -%}
                {%- set status_string = "Partial Outage" -%}
            {%- elif component.status == "MajorOutage" -%}
                {%- set css_border_color = "border-red text-red" -%}
                {%- set status_string = "Major Outage" -%}
            {%- else -%}
                {%- set css_border_color = "border-gray-200 text-gray-200" -%}
                {%- set status_string = "Unknown" -%}
            {%- endif -%}
            <div class="flex flex-row items-center h-20 px-4">
                <div class="flex-1 h-8 text-lg">{{ component.name }}</div>
                <div class="flex-none h-8 border-2 rounded-full px-4 font-bold {{ css_border_color }}">{{ status_string }}</div>
            </div>
        {%- endfor -%}
    </div>

    {%- for incident in open_incidents -%}
        {%- if incident.severity == "Operational" -%}
            {%- set css_border_color = "border-green divide-green" -%}
            {%- set css_bg_color = "bg-green" -%}
        {%- elif incident.severity == "PartialOutage" -%}
            {%- set css_border_color = "border-yellow divide-yellow" -%}
            {%- set css_bg_color = "bg-yellow" -%}
        {%- elif incident.severity == "MajorOutage" -%}
            {%- set css_border_color = "border-red divide-red" -%}
            {%- set css_bg_color = "bg-red" -%}
        {%- else -%}
            {%- set css_border_color = "border-gray-200 divide-gray-200" -%}
            {%- set css_bg_color = "bg-gray-200" -%}
        {%- endif -%}
        <div class="mt-10 border-2 rounded divide-y-2 {{ css_border_color }} flex flex-col">
            <div class="flex-1 p-4 text-lg {{ css_bg_color }} text-black">
                <div class="h-8"><a href="./{{ incident.id }}.html">{{ incident.title }}</a></div>
            </div>
            <div class="flex-1 px-4 divide-y-2 divide-gray-200">
                {%- for update in incident.updates -%}
                <div class="py-4">
                    {{ update.text | safe }}
                    <span class="block pt-2 italic text-right">{{ update.datetime | date(format="%Y-%m-%d %H:%M") }}</span>
                </div>
                {%- endfor -%}
            </div>
        </div>
    {%- endfor -%}

    <h1 class="mt-10 font-bold text-4xl">History</h1>
    {%- for incident in closed_incidents -%}
        <div class="mt-10 border-2 rounded divide-y-2 border-gray-200 divide-gray-200 flex flex-col">
            <div class="flex-1 p-4 text-lg bg-gray-200 text-black">
                <div class="h-8"><a href="./{{ incident.id }}.html">{{ incident.title }}</a></div>
            </div>
            <div class="flex-1 px-4 divide-y-2 divide-gray-200">
                <div class="py-4">
                    {{ incident.updates[0].text | safe }}
                    <span class="block pt-2 italic text-right">{{ incident.updates[0].datetime | date(format="%Y-%m-%d %H:%M") }}</span>
                </div>
            </div>
        </div>
    {%- endfor -%}
{%- endblock -%}
